<p>pipes works!</p>
<h2>{{ "Avit" | lowercase }}</h2>
<h2>{{ "Avit" | uppercase }}</h2>
<h2>{{ "Avit" | titlecase }}</h2>
<h2>{{ "Avit" | slice : 3 : 5 }}</h2>
<h2>{{ 5.678 | number : "1.2-3" }}</h2>
<!-- number 
    : 'minIntegerDigits.minFractionDigits-maxFractionDigits' -->

<h2>{{ 5.678 | number : "3.4-5" }}</h2>
<h2>{{ 5.678 | number : "3.1-2" }}</h2>
<h2>{{ 0.25 | percent }}</h2>
<h2>{{ 0.25 | currency }}</h2>
<h2>{{ 0.25 | currency : "GBP" }}</h2>
<h2>{{ 0.25 | currency : "GBP" : "code" }}</h2>
<h2>{{ date }}</h2>
<h2>{{ date | date : "short" }}</h2>
<h2>{{ date | date : "shortDate" }}</h2>
<h2>{{ date | date : "shortTime" }}</h2>

<h2>{{ date | date : "medium" }}</h2>

<h2>{{ date | date : "mediumDate" }}</h2>

<h2>{{ date | date : "mediumTime" }}</h2>

<h2>{{ date | date : "long" }}</h2>

<h2>{{ date | date : "longDate" }}</h2>

<h2>{{ date | date : "longTime" }}</h2>

<h2>{{ date | date : "full" }}</h2>

<h2>{{ date | date : "fullDate" }}</h2>

<h2>{{ date | date : "fullTime" }}</h2>

<h2>{{ date | date : "short" }}</h2>

<h2>{{ date | date : "shortDate" }}</h2>

<h2>{{ date | date : "shortTime" }}</h2>

<h2>{{ users | json }}</h2>

<h2>{{ 2 | custom }}</h2>
<h2>{{ 2 | custom : 10 : 3 }}</h2>
